body{
background-color: #F6F7FC;
}
p{
  margin:0px;
  padding: 0px;
}
.logo{
 height: 120px;
}
.top{

  margin-bottom: 70;
  padding-bottom: 0;
}
.mid{
  padding-bottom: 70px;
  padding-top: 0;
  height: 60px;
}
.text{
     display:block;
      color: #0861A1;
       font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 73px;
    letter-spacing: 0.05em;
    position: absolute;
    width: 969px;
    height: 200px;
    left: 285px;
    padding-top: 30px;

    }
.bottom{
  display: flex;
justify-content: space-between;
}
.teacher{
  padding-left: 140px;
  padding-right: 20px;
  height: 400px;
  width: 500px;
  padding-bottom: 40px;
}
.student{
  padding-right: 140px;
   height: 400px;
  width: 500px; padding-bottom: 40px;
}
@media  (max-width:600px){
.logo{
  display: flex;
  height: 60px;
}
.text{
    height: 100px;
    min-width: 200px;
    font-size: 20px;
    text-align: left;
}
.teacher{
  display: block;
  padding-left: 30px;
  height:200px;
  width:250px;
}
.student{
  padding-right: 30px;
  height:200px;
  width:250px;
}
}